:root {
  --accent-color: #2196f3;
  --accent-secondary-btn: #188ce8;
  --border-color: #eeeeee;
  --icon-border-color: #afb1b8;
  --color-link: rgba(255, 255, 255, 0.6);
  --background-dark: #2f303a;
  --light-gray: #f5f4fa;
  --border-color-header: #ececec;
  --color-content: #212121;
  --main-text-color: #757575;
  --max-width: 1600px;
  --margin-0: 0 auto;
  --section-pt: 60px;
  --section-pb: 60px;
  --section-pt-hero: 118px;
  --section-pb-hero: 118px;
  --desktop-pt: 94px;
  --desktop-pb: 94px;
  --desktop-pt-hero: 200px;
  --desktop-pb-hero: 200px;
  --transition-attribute: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: var(--main-text);
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ol,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    margin: 0 auto;
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
  .header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
  .footer .container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

.section {
  padding-top: var(--section-pt);
  padding-bottom: var(--section-pb);
  margin: var(--margin-0);
}

.section-title {
  color: var(--color-content);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.section-hero {
  padding-top: var(--section-pt-hero);
  padding-bottom: var(--section-pb-hero);
  margin: var(--margin-0);
}

.section-footer {
  padding-top: var(--section-pt);
  padding-bottom: var(--section-pb);
  margin: var(--margin-0);
}

.section-privilege {
  padding-top: var(--section-pt);
  padding-bottom: var(--section-pb);
  margin: var(--margin-0);
}

.section-team {
  padding-top: var(--section-pt);
  padding-bottom: var(--section-pb);
  margin: var(--margin-0);
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: var(--desktop-pt);
    padding-bottom: var(--desktop-pb);
    max-width: var(--max-width);
  }
  .section-hero {
    padding-top: var(--desktop-pt-hero);
    padding-bottom: var(--desktop-pb-hero);
    max-width: var(--max-width);
  }
  .section-privilege {
    padding-top: var(--desktop-pt);
    padding-bottom: 0px;
    max-width: var(--max-width);
  }
  .section-team {
    padding-top: var(--desktop-pt);
    padding-bottom: var(--desktop-pb);
  }
}

.element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: var(--light-gray);
  width: 100%;
  height: 120px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 16px;
}

.social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50% 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms var(--transition-attribute);
  transition: background-color 250ms var(--transition-attribute);
}

.social-link:hover, .social-link:focus {
  background-color: var(--accent-primary);
}

.social__icon {
  fill: var(--icon-border-color);
  -webkit-transition: fill 250ms var(--transition-attribute);
  transition: fill 250ms var(--transition-attribute);
}

.social-link:hover .social__icon,
.social-link:focus .social__icon {
  fill: #ffffff;
}

.footer__social-title {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.footer__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.footer__social-item:not(:last-child) {
  margin-right: 10px;
}

.footer__social-icon {
  fill: #ffffff;
}

.social-link:hover .footer__social-icon,
.social-link:focus .footer__social-icon {
  fill: #ffffff;
}

@media screen and (min-width: 480px) {
  .footer__social {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .footer__social-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__social-title {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .social {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .footer__social {
    margin-left: 70px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .footer__social-title {
    text-align: left;
  }
}

.logo {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  padding-top: 16px;
  padding-bottom: 16px;
}

.logo__dark {
  color: #000000;
}

.logo__decor {
  color: var(--accent-primary);
}

.logo__light {
  color: #ffffff;
}

.footer__address .logo {
  margin-right: 0px;
}

@media screen and (min-width: 480px) {
  .logo {
    margin-right: 88px;
  }
}

@media screen and (min-width: 768px) {
  .logo {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 95px;
  }
  .footer__address .logo {
    margin-right: 95px;
  }
}

.navigation__link::after, .navigation__link:hover::after, .navigation__link:focus::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: inline-block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation__item:not(:last-child) {
  margin-right: 50px;
}

.navigation__link {
  position: relative;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--color-content);
  -webkit-transition: color 250ms var(--transition-attribute);
  transition: color 250ms var(--transition-attribute);
}

.navigation__link:hover, .navigation__link:focus {
  color: var(--accent-primary);
}

.navigation__link::after {
  background-color: var(--accent-primary);
  -webkit-transition: -webkit-transform 250ms var(--transition-attribute);
  transition: -webkit-transform 250ms var(--transition-attribute);
  transition: transform 250ms var(--transition-attribute);
  transition: transform 250ms var(--transition-attribute), -webkit-transform 250ms var(--transition-attribute);
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.navigation__link:hover::after, .navigation__link:focus::after {
  background-color: var(--accent-primary);
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

@media screen and (max-width: 767px) {
  .navigation__list {
    display: none;
  }
}

@media screen and (min-width: 480px) {
  .navigation {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .navigation__list.contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media screen and (min-width: 1200px) {
  .navigation__list.contact {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.contact {
  margin-left: auto;
}

.contact__link {
  color: var(--main-text);
  fill: var(--main-text);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 250ms var(--transition-attribute), fill 250ms var(--transition-attribute);
  transition: color 250ms var(--transition-attribute), fill 250ms var(--transition-attribute);
}

.contact__link:hover, .contact__link:focus {
  color: var(--accent-primary);
}

.contact__icon-mail,
.contact__icon-tell {
  margin-right: 10px;
}

.contact__link:hover .contact__icon-mail,
.contact__link:focus .contact__icon-mail, .contact__link:hover
.contact__icon-tell,
.contact__link:focus
.contact__icon-tell {
  fill: var(--accent-primary);
}

@media screen and (min-width: 768px) {
  .contact__link {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

@media screen and (min-width: 1200px) {
  .contact__item {
    margin-right: 50px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms var(--transition-attribute), visibility 250ms var(--transition-attribute);
  transition: opacity 250ms var(--transition-attribute), visibility 250ms var(--transition-attribute);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.button_close {
  position: absolute;
  top: 14px;
  right: 14px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #ffffff;
  border: 1px solid var(--icon-border-color);
}

.button__icon_close {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: fill 250ms var(--transition-attribute);
  transition: fill 250ms var(--transition-attribute);
}

.button__icon_close:hover, .button__icon_close:focus {
  fill: var(--accent-primary);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 450px;
  height: 609px;
  background-color: #ffffff;
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px;
}

.modal__title {
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--color-content);
}

.modal__field {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.modal__field:not(:nth-child(5)) {
  margin-bottom: 10px;
}

.modal__wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color 250ms var(--transition-attribute);
  transition: border-color 250ms var(--transition-attribute);
}

.modal__input:focus {
  outline: none;
  border-color: var(--accent-primary);
}

.modal__input:focus + .modal-icon {
  fill: var(--accent-primary);
}

.modal__textarea {
  padding: 16px 12px;
  margin-top: 4px;
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal__textarea:focus {
  outline: none;
  border-color: var(--accent-primary);
}

.modal__textarea::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__textarea:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__textarea::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill 250ms var(--transition-attribute);
  transition: fill 250ms var(--transition-attribute);
}

.label-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.label-checkbox__terms-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  cursor: pointer;
  -webkit-transition: background-image 250ms var(--transition-attribute);
  transition: background-image 250ms var(--transition-attribute);
}

.label-checkbox__terms-link::before {
  content: "";
  display: block;
  width: 15px;
  height: 16px;
  margin-right: 8px;
  border: 1px solid #000000;
  border-radius: 2px;
}

.label-checkbox__term:checked + .label-checkbox__terms-link::before {
  border-color: transparent;
  background-image: url(../images/icon_check.svg);
  background-origin: border-box;
  background-position: center;
}

.label-checkbox__term:focus + .label-checkbox__terms-link::before {
  border-color: var(--accent-primary);
}

.label-checkbox__link {
  color: var(--accent-primary);
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.modal__submit-btn {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  min-width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: transparent;
  cursor: pointer;
  color: #ffffff;
  background-color: var(--accent-primary);
  -webkit-transition: background-color 250ms var(--transition-attribute);
  transition: background-color 250ms var(--transition-attribute);
}

.modal__submit-btn:hover, .modal__submit-btn:focus {
  background-color: var(--accent-secondary);
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
  .label-checkbox__terms-link {
    font-size: 14px;
    line-height: 1.71;
  }
}

.filter-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}

.filter-nav__item:not(:last-child) {
  margin-right: 8px;
}

.filter-nav__btn {
  color: var(--color-content);
  background-color: var(--light-gray);
  cursor: pointer;
  min-width: 73px;
  padding: 6px 22px;
  border-radius: 4px;
  border: transparent;
  -webkit-transition: color 250ms var(--transition-attribute), background-color 250ms var(--transition-attribute), -webkit-box-shadow 250ms var(--transition-attribute);
  transition: color 250ms var(--transition-attribute), background-color 250ms var(--transition-attribute), -webkit-box-shadow 250ms var(--transition-attribute);
  transition: color 250ms var(--transition-attribute), background-color 250ms var(--transition-attribute), box-shadow 250ms var(--transition-attribute);
  transition: color 250ms var(--transition-attribute), background-color 250ms var(--transition-attribute), box-shadow 250ms var(--transition-attribute), -webkit-box-shadow 250ms var(--transition-attribute);
}

.filter-nav__btn:hover, .filter-nav__btn:focus {
  background-color: var(--accent-primary);
  color: #ffffff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 480px) {
  .filter-nav {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .filter-nav__item:not(:last-child) {
    margin-bottom: 8px;
  }
  .filter-nav__item .filter-nav__btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
  }
}

@media screen and (min-width: 768px) {
  .filter-nav {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.active-link {
  color: var(--accent-primary);
}

.active-link::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  display: inline-block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-primary);
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.collection__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.collection__item {
  margin-bottom: 30px;
  /*flex-basis: calc((100% - 3 * 30px) / 3);
  margin: 15px;*/
}

.collection__item:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.collection__item-wraper {
  position: relative;
  overflow: hidden;
}

.collection__link {
  color: var(--main-text);
}

.collection__link:hover .overlay,
.collection__link:focus .overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.collection__internal {
  padding: 20px 24px;
  border-right: solid 1px;
  border-bottom: solid 1px;
  border-left: solid 1px;
  border-color: var(--border-color);
}

.collection__title {
  color: var(--color-content);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.collection__rubric {
  font-size: 16px;
  line-height: 1.88;
}

@media screen and (min-width: 480px) {
  /*.collection__list {
    justify-content: center;
  }*/
  .collection__item {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .collection__list {
    margin-top: -30px;
    margin-left: -30px;
  }
  .collection__item {
    -ms-flex-preferred-size: calc((100% - 2 * 30px) / 2);
        flex-basis: calc((100% - 2 * 30px) / 2);
    margin-top: 30px;
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .collection__item {
    -ms-flex-preferred-size: calc((100% - 3 * 30px) / 3);
        flex-basis: calc((100% - 3 * 30px) / 3);
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 64px 23px;
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  -webkit-transform: translateY(105%);
          transform: translateY(105%);
  -webkit-transition: -webkit-transform 250ms var(--transition-attribute);
  transition: -webkit-transform 250ms var(--transition-attribute);
  transition: transform 250ms var(--transition-attribute);
  transition: transform 250ms var(--transition-attribute), -webkit-transform 250ms var(--transition-attribute);
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 50%;
  width: 100vw;
  z-index: 2;
  padding: 48px 40px;
  max-width: 450px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.02em;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  -webkit-transition: opacity 250ms var(--transition-attribute), visibility 250ms var(--transition-attribute);
  transition: opacity 250ms var(--transition-attribute), visibility 250ms var(--transition-attribute);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu__list {
  font-size: 40px;
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__link {
  color: var(--color-content);
  -webkit-transition: color 250ms var(--transition-attribute);
  transition: color 250ms var(--transition-attribute);
}

.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: var(--accent-primary);
}

.mobile-menu__btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: transparent;
  border: transparent;
  cursor: pointer;
  -webkit-transition: fill 250ms var(--transition-attribute);
  transition: fill 250ms var(--transition-attribute);
}

.mobile-menu__btn:hover, .mobile-menu__btn:focus {
  fill: var(--accent-primary);
}

.mobile-menu__contact-list {
  margin-top: 300px;
}

.mobile-menu__contact-item {
  font-size: 24px;
  line-height: 1.17;
}

.mobile-menu__contact-link {
  display: block;
  color: var(--color-content);
  font-size: 34px;
  margin-bottom: 32px;
  -webkit-transition: color 250ms var(--transition-attribute);
  transition: color 250ms var(--transition-attribute);
}

.mobile-menu__contact-link:hover, .mobile-menu__contact-link:focus {
  color: var(--accent-primary);
}

.mobile-menu__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 64px;
  font-size: 18px;
  line-height: 1.22;
}

.mobile-menu__social-item {
  padding-right: 10px;
}

.mobile-menu__social-item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-menu__social-link {
  color: var(--accent-primary);
  -webkit-transition: color 250ms var(--transition-attribute);
  transition: color 250ms var(--transition-attribute);
}

.mobile-menu__social-link:hover, .mobile-menu__social-link:focus {
  color: var(--accent-secondary);
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.header {
  border-bottom: solid 1px;
  border-color: var(--border-color-header);
  max-width: var(--max-width);
  margin: var(--margin-0);
}

.burger-btn {
  background-color: transparent;
  border: transparent;
}

@media screen and (min-width: 767px) {
  .burger-btn {
    display: none;
  }
}

.hero {
  background-color: var(--background-dark);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/mobile/bg-hero@1x.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile/bg-hero@1x.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/mobile/bg-hero@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile/bg-hero@2x.jpg);
  }
}

.hero-title {
  color: #ffffff;
  width: 360px;
  height: 84px;
  /*width: 700px;
  height: 160px;*/
  margin: 0 auto;
  font-weight: 900;
  letter-spacing: 0.06em;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  text-transform: uppercase;
  /*font-size: 44px;
  line-height: 1.36;*/
}

.btn-hero {
  display: block;
  min-width: 200px;
  margin: 30px auto 0px;
  padding: 10px 32px;
  border-radius: 4px;
  border: transparent;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  background-color: var(--accent-primary);
  color: #ffffff;
  -webkit-transition: color 250ms var(--transition-attribute), background-color 250ms var(--transition-attribute);
  transition: color 250ms var(--transition-attribute), background-color 250ms var(--transition-attribute);
}

.btn-hero:hover,
.btn-hero:focus {
  background-color: var(--accent-secondary);
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .hero {
    background-color: var(--background-dark);
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/tablet/bg-hero@1x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet/bg-hero@1x.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/tablet/bg-hero@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet/bg-hero@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-color: var(--background-dark);
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/desktop/bg-hero@1x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop/bg-hero@1x.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/desktop/bg-hero@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop/bg-hero@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero-title {
    width: 700px;
    height: 160px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.advantage__title {
  color: var(--color-content);
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
}

.advantage__rubric {
  font-weight: 400;
  line-height: 1.71;
}

@media screen and (min-width: 480px) {
  .advantage__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .advantage__title {
    text-align: left;
  }
  .advantage__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
  .advantage__item {
    -ms-flex-preferred-size: calc((100% - 2 * 30px) / 2);
        flex-basis: calc((100% - 2 * 30px) / 2);
    margin-top: 30px;
    margin-left: 30px;
  }
  .advantage__item:not(:last-child) {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .advantage__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin-top: 0px;
    margin-left: 0px;
  }
  .advantage__item {
    width: 270px;
    -ms-flex-preferred-size: calc(100% - 4 * 30px);
        flex-basis: calc(100% - 4 * 30px);
    margin-top: 0px;
    margin-left: 0px;
  }
  .advantage__item:not(:last-child) {
    margin-right: 30px;
  }
}

.passion__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -30px;
}

.passion__item {
  position: relative;
  margin-left: 30px;
  -ms-flex-preferred-size: calc(100% / 3 - 30px);
      flex-basis: calc(100% / 3 - 30px);
}

.passion__overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  padding: 27px 82px 27px 83px;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

@media screen and (max-width: 1199px) {
  .passion,
  .passion__list,
  .passion__list .section-title {
    display: none;
  }
}

.team {
  background-color: var(--light-gray);
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.team__item {
  /*flex-basis: calc(100% / 4 - 30px);*/
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}

.team__inner {
  width: 100%;
  padding: 30px 30px;
  text-align: center;
  border-right: solid 1px;
  border-bottom: solid 1px;
  border-left: solid 1px;
  border-color: var(--border-color);
}

.team__name {
  color: var(--color-content);
  font-weight: 500;
  margin-bottom: 10px;
}

.team__name,
.team__function {
  font-size: 16px;
  line-height: 1.19;
}

@media screen and (min-width: 480px) {
  .team__item {
    width: 450px;
  }
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team__list {
    margin-top: -30px;
    margin-left: -30px;
  }
  .team__item {
    -ms-flex-preferred-size: calc((100% - 2 * 30px) / 2);
        flex-basis: calc((100% - 2 * 30px) / 2);
    margin-top: 30px;
    margin-left: 30px;
  }
  .team__item:not(:last-child) {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    -ms-flex-preferred-size: calc(100% / 4 - 30px);
        flex-basis: calc(100% / 4 - 30px);
  }
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clients__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 90px;
  /*flex-basis: calc((100% - 2 * 30px) / 2);
  margin-top: 30px;
  margin-left: 30px;

  &:not(:last-child) {
    margin-right: 30px;
  }*/
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid var(--icon-border-color);
  border-radius: 4px;
  width: 100%;
  height: 100%;
  -webkit-transition: border 250ms var(--transition-attribute);
  transition: border 250ms var(--transition-attribute);
}

.clients__link:hover, .clients__link:focus {
  border-color: var(--accent-primary);
}

.client__icon {
  fill: var(--icon-border-color);
  -webkit-transition: fill 250ms var(--transition-attribute);
  transition: fill 250ms var(--transition-attribute);
}

.clients__link:hover .client__icon,
.clients__link:focus .client__icon {
  fill: var(--accent-primary);
}

@media screen and (min-width: 480px) {
  .clients__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 2 * 30px) / 2);
        flex-basis: calc((100% - 2 * 30px) / 2);
    margin-top: 30px;
    margin-left: 30px;
  }
}

@media screen and (min-width: 768px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 3 * 30px) / 3);
        flex-basis: calc((100% - 3 * 30px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin-top: 0px;
    margin-left: -30px;
  }
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 6 * 30px) / 1);
        flex-basis: calc((100% - 6 * 30px) / 1);
    margin-top: 0px;
    margin-left: 30px;
  }
}

.footer {
  background-color: var(--background-dark);
}

.footer__address {
  font-style: normal;
  line-height: 1.7;
}

.footer__descr {
  color: #ffffff;
}

.footer__list {
  margin-top: 20px;
}

.footer__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__link {
  color: var(--rgba-link);
}

.footer-form__description {
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-form__input {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  color: #ffffff;
  background-color: var(--background-dark);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  -webkit-transition: border-color 250ms var(--transition-attribute);
  transition: border-color 250ms var(--transition-attribute);
}

.footer-form__input:focus {
  outline: none;
  border-color: var(--accent-primary);
}

.footer-form__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 700;
  letter-spacing: 0.06em;
  font-size: 16px;
  line-height: 1.9;
  cursor: pointer;
  border-radius: 4px;
  border: transparent;
  background-color: var(--accent-primary);
  color: #ffffff;
  -webkit-transition: background-color 250ms var(--transition-attribute);
  transition: background-color 250ms var(--transition-attribute);
}

.footer-form__btn:hover, .footer-form__btn:focus {
  background-color: var(--accent-secondary);
}

.footer-form__icon {
  fill: #ffffff;
  margin-left: 10px;
}

@media screen and (min-width: 480px) {
  .footer__address {
    text-align: center;
  }
  .footer-form {
    text-align: center;
  }
  .footer-form__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-form__input {
    width: 100%;
    margin-bottom: 20px;
  }
  .footer-form__btn {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media screen and (min-width: 768px) {
  .footer__address {
    margin-right: 165px;
  }
  .footer-form {
    margin-top: 60px;
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__address {
    text-align: left;
    margin-right: 0px;
  }
  .footer-form {
    text-align: left;
    margin-top: 0px;
    margin-left: 93px;
  }
  .footer-form__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-form__input {
    min-width: 358px;
    margin-bottom: 0px;
  }
  .footer-form__btn {
    margin-left: 12px;
  }
}
/*# sourceMappingURL=main.css.map */