.footer {
  background-color: var(--background-dark);
}

.footer__address {
  font-style: normal;
  line-height: 1.7;
}

.footer__descr {
  color: $white;
}

.footer__list {
  margin-top: 20px;
}

.footer__item {
  &:not(:last-child) {
    margin-bottom: 9px;
  }
}

.footer__link {
  color: var(--rgba-link);
}

.footer-form__description {
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $white;
  margin-bottom: 20px;
}

.footer-form__input {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  color: $white;
  background-color: var(--background-dark);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  transition: border-color 250ms var(--transition-attribute);

  &:focus {
    outline: none;
    border-color: var(--accent-primary);
  }
}

.footer-form__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: $main-title;
  letter-spacing: $heading-ls;
  font-size: 16px;
  line-height: 1.9;
  cursor: pointer;
  border-radius: 4px;
  border: transparent;
  background-color: var(--accent-primary);
  color: $white;
  transition: background-color 250ms var(--transition-attribute);

  &:hover,
  &:focus {
    background-color: var(--accent-secondary);
  }
}

.footer-form__icon {
  fill: $white;
  margin-left: 10px;
}

// mobile
@media screen and (min-width: 480px) {
  .footer__address {
    text-align: center;
  }

  .footer-form {
    text-align: center;
  }

  .footer-form__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .footer-form__input {
    width: 100%;
    margin-bottom: 20px;
  }

  .footer-form__btn {
    align-self: center;
  }
}

// tablet
@media screen and (min-width: 768px) {
  .footer__address {
    margin-right: 165px;
  }

  .footer-form {
    margin-top: 60px;
    width: 450px;
  }
}

// desktop
@media screen and (min-width: 1200px) {
  .footer__address {
    text-align: left;
    margin-right: 0px;
  }

  // footer-form
  .footer-form {
    text-align: left;
    margin-top: 0px;
    margin-left: 93px;
  }

  .footer-form__container {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .footer-form__input {
    min-width: 358px;
    margin-bottom: 0px;
  }

  .footer-form__btn {
    margin-left: 12px;
  }
}
