footer {
  background-color: var(--footer-backgroun-color);
}

.contacts-link-footer {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--footer-links-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--acent-color);
  }

  &:not(:last-child) {
    margin-bottom: 9px;
  }
}

.footer-container {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

.main-footer {
  margin-right: 70px;
}

.social-footer-name {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
}

.social-footer-list {
  display: block;
  align-items: center;
  justify-content: center;

  &:not(:last-child) {
    margin-right: 70px;
  }
}

.footer-icon-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.footer-icon-item {
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.social-footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--main-color);
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--acent-color);
  }
}

.social-footer-icon {
  width: 20px;
  height: 20px;
}

.footer-form-container {
  width: 50%;
}

.footer-form {
  display: block;
  margin-left: 93px;
}

.footer-form-name {
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
}

.footer-input-container {
  display: flex;
  align-items: center;
}

.footer-form-input {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  width: 358px;
  height: 50px;
  color: var(--main-color);
  background-color: var(--secondary-back-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-top: 20px;
  padding-left: 16px;

  &::placeholder {
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.6);
    background-color: var(--secondary-back-color);
  }
}

.footer-form-btn {
  position: relative;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-self: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--main-color);
  background: var(--acent-color);
  min-width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  outline: none;
  border-radius: 4px;
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;
  margin-top: 20px;
  margin-left: 12px;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background: var(--btn-back-color);
  }
}

.footer-form-btn-icon {
  position: absolute;
  top: 50%;
  left: 82%;
  transform: translate(-50%, -50%);
  width: 24px;
  height: 24px;
  fill: var(--main-color);
}
