.header {
  border-bottom: solid 1px;
  border-color: var(--border-color-header);
  max-width: var(--max-width);
  margin: var(--margin-0);
}

.burger-btn {
  background-color: transparent;
  border: transparent;
}

// tablet
@media screen and (min-width: 767px) {
  .burger-btn {
    display: none;
  }
}
