.team {
  background-color: var(--light-gray);
}
.team__list {
  display: flex;
  flex-wrap: wrap;
}

.team__item {
  /*flex-basis: calc(100% / 4 - 30px);*/

  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: $white;
}

.team__inner {
  width: 100%;
  padding: 30px 30px;
  text-align: center;
  border-right: solid 1px;
  border-bottom: solid 1px;
  border-left: solid 1px;
  border-color: var(--border-color);
}

.team__name {
  color: var(--color-content);
  font-weight: $secondary-weight;
  margin-bottom: 10px;
}

.team__name,
.team__function {
  font-size: 16px;
  line-height: 1.19;
}

// mobile
@media screen and (min-width: 480px) {
  .team__item {
    width: 450px;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}

// tablet
@media screen and (min-width: 768px) {
  .team__list {
    margin-top: -30px;
    margin-left: -30px;
  }

  .team__item {
    flex-basis: calc((100% - 2 * 30px) / 2);
    margin-top: 30px;
    margin-left: 30px;

    &:not(:last-child) {
      margin-bottom: 0px;
    }
  }
}

// desktop
@media screen and (min-width: 1200px) {
  .team__item {
    flex-basis: calc(100% / 4 - 30px);
  }
}
