.passion__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.passion__item {
  position: relative;
  margin-left: 30px;
  flex-basis: calc(100% / 3 - 30px);
}

.passion__overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  font-weight: $main-title;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  padding: 27px 82px 27px 83px;
  color: $white;
  background-color: rgba(47, 48, 58, 0.8);
}

@media screen and (max-width: 1199px) {
  .passion,
  .passion__list,
  .passion__list .section-title {
    display: none;
  }
}
