.collection__list {
  display: flex;
  flex-wrap: wrap;
}

.collection__item {
  margin-bottom: 30px;
  /*flex-basis: calc((100% - 3 * 30px) / 3);
  margin: 15px;*/

  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &-wraper {
    position: relative;
    overflow: hidden;
  }
}

.collection__link {
  color: var(--main-text);

  &:hover .overlay,
  &:focus .overlay {
    transform: translateY(0);
  }
}

.collection__internal {
  padding: 20px 24px;
  border-right: solid 1px;
  border-bottom: solid 1px;
  border-left: solid 1px;
  border-color: var(--border-color);
}

.collection__title {
  color: var(--color-content);

  font-weight: $main-title;
  font-size: 18px;
  line-height: 2;
  letter-spacing: $heading-ls;

  margin-bottom: 4px;
}

.collection__rubric {
  font-size: 16px;
  line-height: 1.88;
}

// mobile
@media screen and (min-width: 480px) {
  /*.collection__list {
    justify-content: center;
  }*/

  .collection__item {
    width: 450px;
  }
}

// tablet
@media screen and (min-width: 768px) {
  .collection__list {
    margin-top: -30px;
    margin-left: -30px;
  }

  .collection__item {
    flex-basis: calc((100% - 2 * 30px) / 2);
    margin-top: 30px;
    margin-left: 30px;
  }
}

// desktop
@media screen and (min-width: 1200px) {
  .collection__item {
    flex-basis: calc((100% - 3 * 30px) / 3);
  }
}
