.contact {
  margin-left: auto;
}

.contact__link {
  color: var(--main-text);
  fill: var(--main-text);
  font-weight: $secondary-weight;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 250ms var(--transition-attribute),
    fill 250ms var(--transition-attribute);

  &:hover,
  &:focus {
    color: var(--accent-primary);
  }
}

.contact__icon-mail,
.contact__icon-tell {
  margin-right: 10px;

  .contact__link:hover &,
  .contact__link:focus & {
    fill: var(--accent-primary);
  }
}

// tablet
@media screen and (min-width: 768px) {
  .contact__link {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

// desktop
@media screen and (min-width: 1200px) {
  .contact__item {
    margin-right: 50px;
  }
}
