.logo {
  color: $black;
  font-family: "Raleway", sans-serif;
  font-weight: $main-title;
  font-size: 26px;
  line-height: 1.19;
  padding-top: 16px;
  padding-bottom: 16px;

  &__dark {
    color: $black;
  }

  &__decor {
    color: var(--accent-primary);
  }

  &__light {
    color: $white;
  }

  .footer__address & {
    margin-right: 0px;
  }
}

// mobile
@media screen and (min-width: 480px) {
  .logo {
    margin-right: 88px;
  }
}

// tablet
@media screen and (min-width: 768px) {
  .logo {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

// desktop
@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 95px;

    .footer__address & {
      margin-right: 95px;
    }
  }
}
