.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms var(--transition-attribute),
    visibility 250ms var(--transition-attribute);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.button_close {
  position: absolute;
  top: 14px;
  right: 14px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  background-color: $white;
  border: 1px solid var(--icon-border-color);
}

.button__icon_close {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: fill 250ms var(--transition-attribute);

  &:hover,
  &:focus {
    fill: var(--accent-primary);
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  height: 609px;
  background-color: $white;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal__form {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.modal__title {
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--color-content);
}

.modal__field {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  &:not(:nth-child(5)) {
    margin-bottom: 10px;
  }
}

.modal__wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms var(--transition-attribute);

  &:focus {
    outline: none;
    border-color: var(--accent-primary);
  }

  &:focus + .modal-icon {
    fill: var(--accent-primary);
  }
}

.modal__textarea {
  padding: 16px 12px;
  margin-top: 4px;
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  &:focus {
    outline: none;
    border-color: var(--accent-primary);
  }

  &::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.modal__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms var(--transition-attribute);
}

.label-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.label-checkbox__terms-link {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  cursor: pointer;
  transition: background-image 250ms var(--transition-attribute);

  &::before {
    content: "";
    display: block;
    width: 15px;
    height: 16px;
    margin-right: 8px;
    border: 1px solid $black;
    border-radius: 2px;
  }

  .label-checkbox__term:checked + &::before {
    border-color: transparent;
    background-image: url(../images/icon_check.svg);
    background-origin: border-box;
    background-position: center;
  }

  .label-checkbox__term:focus + &::before {
    border-color: var(--accent-primary);
  }
}

.label-checkbox__link {
  color: var(--accent-primary);
  text-decoration-line: underline;
}

.modal__submit-btn {
  align-self: center;
  min-width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: transparent;
  cursor: pointer;
  color: $white;
  background-color: var(--accent-primary);
  transition: background-color 250ms var(--transition-attribute);

  &:hover,
  &:focus {
    background-color: var(--accent-secondary);
  }
}

// desktop
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }

  .label-checkbox__terms-link {
    font-size: 14px;
    line-height: 1.71;
  }
}
