.header-accent {
  color: var(--main-black-color);
}

.footer-accent {
  color: var(--main-color);
}

.current {
  color: var(--acent-color);
}

.our-job-image {
  background: var(--main-color);
}

.team {
  background: var(--third-back-color);
}
