.container {
  padding-left: 15px;
  padding-right: 15px;
}

// mobile
@media screen and (min-width: 480px) {
  .container {
    margin: 0 auto;
    width: 480px;
  }
}

// tablet
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    .header & {
      display: flex;
      align-items: center;
    }
    .footer & {
      display: flex;
      justify-content: center;
      align-items: baseline;
      flex-wrap: wrap;
    }
  }
}

// desktop
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    .footer & {
      justify-content: flex-start;
      flex-wrap: nowrap;
      padding-top: 0px;
      padding-bottom: 0px;
    }
  }
}
