:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --acent-color: #2196f3;
  --main-color: #ffffff;
  --btn-back-color: #188ce8;
  --footer-backgroun-color: #2f303a;
  --usually-text-color: #757575;
  --headline-color: #212121;
  --secondary-back-color: #2f303a;
  --third-back-color: #f5f4fa;
  --main-black-color: #000000;
  --footer-links-color: rgba(255, 255, 255, 0.6);
  --service-item-color: #eeeeee;
  --icon-color: #afb1b8;
  --contacts-color: #757575;
  --section-pt: 94px;
  --section-pb: 94px;
}
